<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#4DA5F4">
  <title>Hey PDF It Is</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="/css/common-pdf.css">
</head>
<body>
  <div class="container">
    {{contract.id}}
    My name is Randy <input value="{{contract.name}}" class="input-pdf"/>
  </div>
</body>
</html>
